<?xml version="1.0" encoding="UTF-8"?>
<config>
    <database>
        <host>localhost</host>
        <port>3306</port>
        <user>root</user>
        <password>1234</password>
    </database>

    <source>
        <source_id>1</source_id>
        <source_name>AccuWeather</source_name>
        <source_url>https://www.accuweather.com/vi/vn/ho-chi-minh-city/353981/current-weather/353981?unit=c</source_url>
        <source_folder_path>data</source_folder_path>
        <file_format>csv</file_format>
    </source>

    <transaction>
        <source_folder_path>database/staging/transaction.sql</source_folder_path>
    </transaction>

</config>