<?xml version="1.0" encoding="UTF-8"?>
<config>
    <database>
        <host>localhost</host>
        <port>3306</port>
        <user>root</user>
        <password>123456</password>
    </database>

    <source>
        <source_id>1</source_id>
        <source_name>AccuWeather</source_name>
        <source_url>https://www.accuweather.com/vi/vn/ho-chi-minh-city/353981/current-weather/353981?unit=c</source_url>
        <source_folder_path>data</source_folder_path>
        <file_format>csv</file_format>
    </source>

    <transaction>
        <scripts>database/staging/transaction.sql</scripts>
    </transaction>

    <aggregate>
        <scripts>database/warehouse/aggregate_weather_daily.sql</scripts>
    </aggregate>

    <mart>
        <scripts>database/mart/mart_weather_daily_load.sql</scripts>
    </mart>

    <email>23130116@st.hcmuaf.edu.vn</email>

    <warehouse>
        <script>D:/DW/DataWarehouse/database/warehouse/proc_load_warehouse.sql</script>
        <procName>proc_load_warehouse</procName>
    </warehouse>


</config>